<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your snitch&hellip;"></textarea>
    <input type="submit" value="Add a Snitch!">
  </form>
</section>

<script>
  initialData = <%= {snitches: @snitches}.to_json.html_safe %>
</script>

<%= react_component('App') %>
